/* 1.1.general-setting-pages *************************/
/****************************************************/
:root {
	--pr-color: #fff;
	--second-color: #d47e05;
	--cubicbz: cubic-bezier(.9, 0, .1, 1);
	--fz-big: 60px;
}

* {
	box-sizing: border-box;
	font-family: 'Syne', sans-serif;
	font-weight: 800;
	margin: 0;
	padding: 0;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

body {
	background: var(--second-color);
}


/* nav */

nav a {
    color: #ffffff;
    text-decoration: none;
}

.vee {
    font-family: 'syne', cursive;
    font-size: 2vw;

}

.placeholder-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-left: 15vw;
    padding-right: 15vw;
}

.placeholder-title h1 {
    font-size: 6vw;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

/* nav start */

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
}

.nav-row {
    /* padding: 40px 60px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo img {
    height: 40px;
}

.menu-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
}

.hamburger path {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
}

.fullpage-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
}

.fullpage-menu-inner {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 100px 60px;
}

.menu-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.menu-bg span {
    height: 33.334%;
    width: 100%;
    background: #d47e05;
    display: block;
}

nav {
    position: relative;
    z-index: 10;
}

nav ul {
    list-style-type: none;
}

nav li {
    overflow: hidden;
    transition: transform 300ms ease-in-out 0s;
}

nav li+li {
    margin-top: 20px;
}

nav li a {
    font-size: 100px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    line-height: 1;
}

nav li:hover {
    transform: translateX(50px);
}

.nav-nav-footer {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}

.social-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-family: 'Eater', cursive;

    width: 100%;
}

.social-links li {
    font-size: 18px;
    font-weight: 500;
}

.social-links li+li {
    margin-left: 16px;
}

.social-links li:last-child {
    margin-left: auto;
}

.social-links a {
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width:767px) {

    .nav-row,
    .nav-nav-footer {
        padding: 30px;
    }

    .fullpage-menu-inner {
        padding: 70px 30px;
    }

    nav li a {
        font-size: 54px;
    }

    .social-links li {
        font-size: 16px;
    }

    .vee {
        font-family: 'Eater', cursive;
        font-size:24px;
    
    }
}
/******************************************/
section {
	padding-top: 150px;
	padding-bottom: 50px;
}

.wrapp {
	width: 100%;
	height: auto;
	overflow: hidden;
	z-index: 1;
}

.content {
	width: 100%;
	padding: 0 70px;
}

.char {
	display: inline-block;
}

/* Paralax Effect On GSAP **********************************/
/* header ********/
.header {
	position: relative;
	display: flex;
	padding: 0 70px;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	z-index: -8;
	background-color: #d47e0560;
}

.header__marq {
	position: absolute;
	bottom: 0;
	left: 0;
}

.header__marq {
	width: 100%;
	height: auto;
	background: #171717;
	overflow: hidden;
}

.header__marq-wrapp {
	display: flex;
	width: 100%;
	height: auto;
	padding: 8px 70px;
}

.header__marq-txt {
	position: relative;
	flex: 0 0 auto;
	display: inline-block;
	padding-right: 55px;
	margin-right: 15px;
	text-transform: uppercase;
	color: var(--pr-color);
	color: #9e9e9e;
	font-size: 35px;
}

.header__marq-star {
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0;
}

.header__marq-star img {
	display: block;
	width: 100%;
	height: 100%;
}

.title {
	position: relative;
	margin: 0;
	font-size: 85px;
	text-align: center;
	color: var(--pr-color);
	text-transform: uppercase;
	mix-blend-mode: difference;
	z-index: 2;
}

.title_paralax {
	display: inline-block;
	will-change: transform;
}

.title .stroke {
	display: inline-block;
	color: transparent;
	-webkit-text-stroke: 1px var(--pr-color);
}

.header__img {
	position: absolute;
	width: 45%;
	height: 100%;
	top: 0;
	right: 100px;
	clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
	overflow: hidden;
}

.header__img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section-title {
	position: relative;
	margin: 0;
	margin-bottom: 60px;
	line-height: .8;
	font-size: 70px;
	text-align: center;
	color: var(--pr-color);
	text-transform: uppercase;
}

.section-title .stroke {
	color: transparent;
	-webkit-text-stroke: 1px var(--pr-color);
}

.section-title__square {
	position: absolute;
	display: inline-block;
	width: 130px;
	height: 130px;
	border: 1px solid #4b4b4b;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

/* about ********/
.about .section-title {
	text-align: left;
}

.about__wrapp {
	display: flex;
	justify-content: space-between;
}

.about__img,
.about__txt {
	width: calc(50% - 35px);
	height: auto;
}

.about__txt {
	padding-right: 70px;
}

.about__p {
	line-height: 1.4;
	font-size: 20px;
	color: #4b4b4b;
}

.about__img {
	height: 100vh;
	overflow: hidden;
}

.about__img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* benefits ********/
.benefits__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
	width: 100%;
	height: auto;
}

.benefits__item {
	list-style: none;
	width: calc(33.33% - 27px);
}

.benefits__num {
	display: inline-block;
	font-size: 60px;
	color: transparent;
	-webkit-text-stroke: 1px var(--pr-color);
}

.benefits__p {
	font-size: 20px;
	color: #4b4b4b;
}

/* work ********/
.work {
	padding-top: 150px;
}

.work__wrapp {
	display: flex;
	flex-wrap: wrap;
	row-gap: 120px;
	justify-content: space-between;
	padding: 0 120px;
}

.work__item {
	position: relative;
	width: calc(50% - 60px);
	height: 100vh;
}

.work__item-num {
	position: absolute;
	display: inline-block;
	font-size: 70px;
	color: var(--pr-color);
	mix-blend-mode: difference;
	z-index: 2;
}

.work__item-img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.work__item-img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* serv ********/
.serv__item {
	position: relative;
	padding: 40px 0;
	border-bottom: 1px solid #2f2e2e;
}

.serv__item-arrow {
	position: absolute;
	display: inline-block;
	width: 55px;
	height: 55px;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.serv__item-arrow img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	transform: rotate(180deg);
}

.serv__item-txt {
	font-size: 50px;
	color: #4b4b4b;
	text-transform: uppercase;
}

/* footer ********/
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.footer__div {
	font-size: 70px;
	letter-spacing: 15px;
	color: var(--pr-color);
	text-transform: uppercase;
}

.footer__div span {
	display: inline-block;
}

@media screen and (max-width: 768px) {

	.header__img img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.header__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
		overflow: hidden;
	}

	.title {
		position: relative;
		margin: 0;
		font-size: 25px;
		text-align: center;
		color: var(--pr-color);
		text-transform: uppercase;
		mix-blend-mode: difference;
		z-index: 2;
	}
	.about__wrapp {
		display: flex;
		flex-direction: column;
		margin: 10px;
		/* justify-content: space-between; */
	}
	
	.about__img,
	.about__txt {
		/* width: calc(50% - 35px); */
		width: 100%;
		height: auto;
	}
	
	.about__txt {
		padding-right: 10px;
	}
	
	.about__p {
		line-height: 1.4;
		font-size: 16px;
		color: #4b4b4b;
	}
	
	.about__img {
		height: 100vh;
		overflow: hidden;
	}
	
	.about__img img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	

	.section-title {
		position: relative;
		margin: 0;
		margin-bottom: 10px;
		line-height: .8;
		font-size: 25px;
		text-align: center;
		color: var(--pr-color);
		text-transform: uppercase;
	}
	
	.section-title .stroke {
		color: transparent;
		-webkit-text-stroke: 1px var(--pr-color);
	}
	
	.section-title__square {
		position: absolute;
		display: inline-block;
		width: 130px;
		height: 130px;
		border: 1px solid #4b4b4b;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
	
	/* benefits ********/
.benefits__list {
	display: flex;
	flex-direction: column;
	
	justify-content:baseline;
	align-items: center; 
	gap: 10px;
	width: 100%;
	height: auto;
}

.benefits__item {
	list-style: none;
	width: 100%;
}

.benefits__num {
	display: inline-block;
	font-size: 40px;
	color: transparent;
	-webkit-text-stroke: 1px var(--pr-color);
}

.benefits__p {
	font-size: 20px;
	color: #4b4b4b;
}

.work {
	padding-top: 70px;
}

.work__wrapp {
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	row-gap: 20px;
	justify-content: space-between;
	padding: 0 10px;
}

.work__item {
	position: relative;
	width: 100%;
	height: 100vh;
}

.work__item-num {
	position: absolute;
	display: inline-block;
	font-size: 30px;
	color: var(--pr-color);
	mix-blend-mode: difference;
	z-index: 2;
}

.work__item-img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.work__item-img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* serv ********/
.serv__item {
	position: relative;
	padding: 30px 0;
	border-bottom: 1px solid #2f2e2e;
}

.serv__item-arrow {
	position: absolute;
	display: inline-block;
	width: 15px;
	height: 15px;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.serv__item-arrow img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	transform: rotate(180deg);
}

.serv__item-txt {
	font-size: 18px;
	color: #4b4b4b;
	text-transform: uppercase;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.footer__div {
	font-size: 18px;
	letter-spacing: 15px;
	color: var(--pr-color);
	text-transform:capitalize;
}

.footer__div span {
	display: inline-block;
}
.header {
	position: relative;
	display: flex;
	padding: 0 20px;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	z-index: -8;
}

.header__marq-wrapp {
	display: flex;
	width: 100%;
	height: auto;
	padding: 8px 20px;
}

.content {
	width: 100%;
	padding: 0 10px;
}
}


.container {
    width: 100vw;
    height: 100vh;
overflow-x: hidden;
}


/* nav,
footer {
    position: fixed;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

footer {
    bottom: 0;
} */

.links {
    display: flex;
    gap: 2em;
}

.logo,
.link,
footer p {
    position: relative;
}

a,
p {
    text-decoration: none;
    color: #fff;
    /* font-family: "Space Grotesk", sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;

}

.tagline{
width: 30%;
position: absolute;
left:50%;
bottom: 2em;
transform: translateX(-50%);
text-align: center;
}    


.hero-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}

.hero-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.blocks{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

.block{
    flex: 1;
    height: 100%;
    background: #000;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

h1{
    /* font-family: "Space Grotesk", sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 6vw;
    font-weight: 800;
    line-height: 100%;
    color: yellow;
}


.headers{
    width: 70%;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}


.headers-item{
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    mix-blend-mode: difference;
}

.headers-item h1{
    position: relative;
}


.counter{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 6em;
    left: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    transform: translateX(-50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);


    }


    .counter p{
        position: relative;
        font-size: 30px;
        color: yellow;
        line-height: 120%;
    }


    @media (max-width:900px) {
        .tagline{
            width: 80%;
            bottom: 10em;
        }

        .counter{
            bottom: 15em;

        }

        .block{
            margin-left: -1px;
        }
    }


    
.wrapp {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.headerss {
	padding: var(--indent2) 0;
	padding-bottom: 30px;
}

.title {
	position: relative;
	margin: 0;
	font-size: var(--fz-big);
	line-height: 1;
	color: var(--pr-color);
	text-transform: uppercase;
	mix-blend-mode: difference;
	z-index: 2;
}

.title .stroke {
	display: block;
	color: transparent;
	-webkit-text-stroke: 1px var(--color-n3);
}

.main {
	padding-bottom: var(--indent2);
}

.content {
	width: 100%;
	height: auto;
	padding: 0 var(--indent);
}

.section-text {
	margin-top: var(--indent2);
}

/* p {
	color: #616161;
	font-size: 25px;
	line-height: 1.4;
} */


/* scroll trigger *************************/
/*****************************************/
.section-slider {
	height: auto;
	padding: 30px 0;
}

.gsap__slider {
	height: 80vh;
}

.gsap__bl {
	width: 100%;
}

.gsap__inner,
.gsap__track {
	display: flex;
}

.gsap__inner {
	width: calc(100% + var(--indent));
}

.gsap__track {
	will-change: transform;
}

.gsap__item {
	position: relative;
	flex: 0 0 auto;
	width: 750px;
	background: #000;
	will-change: transform;
}

.gsap__item+.gsap__item {
	margin-left: var(--indent);
}

.gsap__item img {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 2;
}

.gsap__item-img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: .4;
	filter: blur(15px);
	transform: scale(1.3);
	z-index: 1;
}

.gsap__item-num {
	position: absolute;
	top: 15px;
	left: 40px;
	font-size: 50px;
	color: var(--color-n3);
	opacity: .5;
	z-index: 3;
}





.gsap_slider .content,
.gsap_h,
.gsap__bl,
.gsap__inner,
.gsap__item {
	height: 100%;
}


